@import url("https://fonts.googleapis.com/css2? family=Poppins:wght@300;400;500;600;700;800;900& display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/img/login-form-background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 10px;
    width: 420px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
}

.container h1 {
    color: #fff;
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
}

.container .input-box {
    width: 100%;
    padding: 12px 0;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    display: flex;
}

.container .input-box input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
}

.container .input-box input::placeholder {
    color: #fff;
    font-size: 18px;
}

.input-box i {
    color: #fff;
    padding-right: 10px;
}

.container .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.remember-forgot label {
    color: #fff;
    font-size: 15px;
}

.remember-forgot a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.container .btn {
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 12px;
    margin: 10px 0;
    cursor: pointer;
}

.container .btn:hover {
    transform: scale(1.1);
}

.container .register-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.register-link p,
a {
    color: #fff;
}

.register-link a {
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}